@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Scroller Start */
/* width */
// ::-webkit-scrollbar {
// 	width: 5px;
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
// 	background: #f1f1f1;
//   }
  
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
// 	background: #888;
// 	border-radius: 3px;
//   }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
// 	background: #555;
//   }

body {
	scroll-behavior: smooth;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroSwipperMain {
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
  }
  .swiper-pagination-bullet {
    background-color: white;
  }
}



//parallax start

@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");

/* Variables
============================ */
$parallax-height: 95vh;

$color-text: white;
$color-backgrounds: (#ffffff, #EAE7DC, #5ce5d5, #b8fb3c);

$images: (
	"https://res.cloudinary.com/fushigina-shinobi/image/upload/f_auto,q_auto/v1/FleaPasal/py9prw3y3jdbzzz1ksf3",
	"https://res.cloudinary.com/fushigina-shinobi/image/upload/f_auto,q_auto/v1/FleaPasal/dghb82mrn2yi78e3nnyh"
);

@mixin background-size($type) {
	background-size: $type;
	-webkit-background-size: $type;
	-moz-background-size: $type;
	-o-background-size: $type;
}

@mixin parallax-image-background($file) {
	background-image: url($file);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	@include background-size(cover);
}
@mixin parallax-color-background($color) {
	background-color: $color;
}

/* Main
============================ */

.section {
	width: 100%;
	height: $parallax-height;
	overflow: hidden;
	text-align: center;

	padding: 0 1rem;

	display: flex;
	justify-content: center;
	align-items: center;

	h1,
	p {
		max-width: 120ch;
		margin-block-start: 1em;
	}
	svg {
		position: absolute;
		top: 0.5em;
	}
	.small {
		font-size: 0.8rem;
	}
}

@for $i from 1 through 4 {
	.section:nth-child(#{$i}) {
		@if ($i % 2 == 0) {
			@include parallax-image-background(nth($images, ceil($i / 2)));
		} @else {
			@include parallax-color-background(nth($color-backgrounds, ceil($i / 2)));
		}
		z-index: ($i);
	}
}

//parallax end